@import url('https://api.fontshare.com/v2/css?f[]=panchang@300,400,500&display=swap');

.reset {
    /* max-width: 480px; */
    width: 81%;
    padding: 20px 50px;
    border: 3px solid gold;
    background-color: green;
    color: gold;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Panchang', sans-serif;
    font-weight: 300;
}

.reset:hover {
    background-color: rgb(0, 107, 0);
    color: rgb(223, 189, 0);
}
