.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  width: 80%;
}

.card {
  border: 1px solid black;
  height: 23%;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #404040;
  transition: 0.25;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}