.container{
    border: 10px solid green;
    background-color: gold;
    height: 90vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
