@import url('https://api.fontshare.com/v2/css?f[]=panchang@300,400,500&display=swap');

.container{
    background-color: green;
    color: gold;
    height: 90vh;
    width: 45vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Panchang', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.container h1 {
    padding: 8px;
}

.sub-container {
    background-color: gold;
    border-radius: 10px;
    width: 95%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
